:root {
    --soft-blue: hsl(215, 52%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: 0.2s ease-in;
}

a:hover {
    color: var(--cyan);
}

img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    max-width: 18rem;
    padding: 1.5rem;
    border-radius: 20px;
}

.card-img {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-in;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 8px;
}

.card-img:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay img {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-text h3 {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.2s ease-in;
}

.card-text h3:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card-text p {
    color: var(--soft-blue);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.card-price-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(215, 52%, 70%, 0.24);
}

.card-price {
    display: flex;
    font-size: 0.9rem;
}

.card-price img {
    align-self: center;
}

.card-price p {
    padding: 0.3rem;
    color: var(--cyan);
}

.card-time {
    display: flex;
    font-size: 0.9rem;
}

.card-time img {
    align-self: center;
}

.card-time p {
    padding: 0.3rem;
    color: var(--soft-blue);
}

.card-creator {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.card-creator img {
    max-width: 10%;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.card-creator small {
    padding-left: 1rem;
    color: var(--soft-blue);
}

footer {
    background: pink;
    padding: 28px;
    margin-top: 50px;

}